.pokemon {
	width: 10vw;
	box-sizing: border-box;
	color: #ffcb05;
}

.pokemon img {
	width: 8vw;
}

.pokemon a {
	text-decoration: none;
	color: #ffcb05;
	text-shadow: 1px 1px #2b72b9;
}

.pokemon a:hover {
	color: #2b72b9;
	text-shadow: 1px 1px #ffcb05;
}

.pokemon p {
	margin-top: 0;
}
