.pokeDetails {
	margin: 0;
	background-image: linear-gradient(#eb2f28 35%, #2b73b9 100%);
	height: 150vh;
}

.pokeDetails img {
	width: 15vw;
}

.pokeDetails h1,
h2 {
	color: #ffcb05;
	text-shadow: 2px 2px #2b72b9;
	margin-bottom: 1vh;
}

.pokeDetails .tipos {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 40vw;
	margin: 0 auto;
	color: #ffcb05;
	list-style: none;
	text-shadow: 1px 1px #2b72b9;
}

.pokeDetails .golpes {
	display: flex;
	flex-flow: column wrap;
	height: 80vh;
	width: 70vw;
	list-style: none;
	margin: 0 auto;
}

.pokeDetails .golpes li {
	padding: 0.5vw;
	width: 9vw;
	color: #ffcb05;
	text-shadow: 1px 1px #2b72b9;
}

.pokeDetails .buttons {
	margin-top: 5vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.pokeDetails .buttons button {
	font-size: 1rem;
	width: 8vw;
	border: 1px solid #ffcb05;
	border-radius: 0.5vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: #ffcb05;
	/* text-shadow: 1px 1px #2b72b9; */
	background-color: #eb2f28;
	box-shadow: 0px 2px 5px #ffcb05;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	padding: 2vh;
}

.pokeDetails .buttons button:active {
	background-color: #dd2922;
	box-shadow: 0px 2px 5px #666;
	transform: translateY(4px);
}
