.landing {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-image: linear-gradient(#eb2f28 35%, #2b73b9 100%);
	height: 100vh;
}

.landing h1 {
	color: #ffcb05;
	text-shadow: 2px 2px #2b72b9;
}

.logo {
	margin-top: 3vh;
}

.pokeball {
	margin-top: 10vh;
	width: 17vw;
}

.pokeball img {
	width: 17vw;
}

.pokeball img:hover {
	width: 20vw;
	transition: 0.3s;
}

.pokeball:hover {
	cursor: pointer;
	width: 20vw;
	margin-top: 7vh;
	transition: 0.3s;
}
